# Домашнее задание к лекции "Базовые понятия статистики"
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

## Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [214]:
import pandas as pd

In [215]:
# Загрузим датасет, значения "?" заменим на Nan
horse = pd.read_csv('horse_data.csv', header = None, na_values = '?')
horse.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [216]:
# Выберем нужные столбцы
horse_result = horse.iloc[:, [0, 1, 3, 4, 5, 6, 10, 22]]
horse_result.head()

    0   1     3      4     5    6    10   22
0  2.0   1  38.5   66.0  28.0  3.0  5.0  2.0
1  1.0   1  39.2   88.0  20.0  NaN  3.0  3.0
2  2.0   1  38.3   40.0  24.0  1.0  3.0  1.0
3  1.0   9  39.1  164.0  84.0  4.0  2.0  2.0
4  2.0   1  37.3  104.0  35.0  NaN  NaN  2.0

In [217]:
# Переименуем столбцы
horse_result = horse_result.rename(columns={ 0:'surgery', 1:'Age', 3:'rectal temperature', 4:'pulse',
                                           5:'respiratory rate', 6:'temperature of extremities', 10:'pain', 22:'outcome'})

## Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [218]:
# Проверим типы данных в столбцах в датафрейме:
horse_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [219]:
# Процент пропусков в столбцах
(horse_result.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

В датафрейме есть пропуски в во всех столбцах, кроме столбца Age. Наибольшее количество пропусков в столбцах rectal temperature, respiratory rate, temperature of extremities и pain

In [220]:
# Посмотримо основные статистические характериски
horse_result.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

В соответствии с описанием датафрейма проверим данные на выбросы.

Выбросы наблюдаются только в столбце Age, т.к. в столбце должны быть только значения 1 или 2, но мы наблюдаем значение 9. Все что больше значения 2 в этом столбце будет выбросом.

In [221]:
horse_result['Age'].unique() # посмотрим уникальные значения в столбце Age

array([1, 9], dtype=int64)

В столбце Age выбросом является только значение 9

## Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [222]:
# Рассчитаем количество пропсков в каждом столбце:
horse_result.isna().sum()

surgery                        1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [223]:
# Посмотрим сколько данных останется, если удалим все строки с пропусками
horse_result.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     154 non-null    float64
 1   Age                         154 non-null    int64
 2   rectal temperature          154 non-null    float64
 3   pulse                       154 non-null    float64
 4   respiratory rate            154 non-null    float64
 5   temperature of extremities  154 non-null    float64
 6   pain                        154 non-null    float64
 7   outcome                     154 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 10.8 KB

При удалении строк с пропусками мы потеряем половину данных. Данный способ удаления пропусков не подходит.

### 3.1 Удаление пропуска в столбце surgery

Удалить строку с пропуском, т.к. такая строка всего одна. Мы потеряем мало данных и удаление не повлияет на дальнейший анализ.

In [224]:
# Посмотрим на строчку в которой есть пропуск в данном столбце
horse_result[horse_result['surgery'].isna()]

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [225]:
# Удалим строку с пропуском
horse_result = horse_result.dropna(subset=['surgery'])

In [226]:
# Проверим результат
horse_result.isna().sum()

surgery                        0
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        0
dtype: int64

### 3.2. Замена выброса в столбце Age

В столбце Age должны быть значения 1 или 2, согласно описанию датафрейма.
В действительности столбец имеет значения 1 или 9. Предположим, что вместо значения 2 ошибно внесли число 9. Тогда заменим значение 9 на чиcло 2.

In [227]:
horse_result['Age'] = horse_result['Age'].replace(9, 2)

### 3.3. Замена пропусков в столбцах

Заменим пропуски медианным значением, сгруппированным по столбцам surgery (хирургия) и outcome (результат). 
Группировка по данным столбцам обусловлена тем, что в данных столбцах нет пропусков и значения категориальны.
Для замены пропусков выбрана медиана, т.к. она наиболее устойчива к значениям, выбивающимся из общей массы значениям.

In [228]:
# Замена пропуска в столбце rectal temperature
horse_result['rectal temperature'].fillna(horse_result.groupby(['surgery', 'outcome'])['rectal temperature'].transform('median'), inplace=True)

# Замена пропуска в столбце pulse
horse_result['pulse'].fillna(horse_result.groupby(['surgery', 'outcome'])['pulse'].transform('median'), inplace=True)

# Замена пропусков в столбце respiratory rate
horse_result['respiratory rate'].fillna(horse_result.groupby(['surgery', 'outcome'])['respiratory rate'].transform('median'), inplace=True)

# Замена пропусков в столбце temperature of extremities
horse_result['temperature of extremities'].fillna(horse_result.groupby(['surgery', 'outcome'])['temperature of extremities'].transform('median'), inplace=True)

# Замена пропусков в столбце pain
horse_result['pain'].fillna(horse_result.groupby(['surgery', 'outcome'])['pain'].transform('median'), inplace=True)

In [229]:
# Проверка резудьтата
horse_result.isna().sum()

surgery                       0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64