## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
ratings[ratings['rating']==5.0]['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

In [4]:
# посмотрим название фильма:
movies = pd.read_csv('movies.csv')
movies[movies['movieId'] == 318]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
# Отфильтруем по странам и нужным категориям
filtered_countries = power[((power['country'] == 'Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia'))&
                           ((power['category'] == 4) | (power['category'] == 12)| (power['category'] == 21))]

In [7]:
#отфильтруем по нужным годам и положительным значениям quantity
filtered_power = filtered_countries[(filtered_countries['year'] > 2004) & (filtered_countries['year'] < 2011) & 
                                filtered_countries['quantity'] > 0]

In [8]:
filtered_power['quantity'].sum()

240481.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [9]:
data = pd.read_html('https://fortrader.org/quotes')[1]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,66.59,0.50,0.76,NaN
1,Нефть WTI Цены на нефть WTI,63.70,0.69,1.10,NaN
2,Природный газ Цена на природный газ,2.90,0.03,1.08,NaN
3,Кофе,146.60,0.95,0.65,NaN
4,Кукуруза,680.20,-19.40,-2.77,NaN