## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [322]:
import pandas as pd

In [323]:
#Загрузим датасеты
rating = pd.read_csv('ratings.csv')

In [324]:
movies = pd.read_csv('movies.csv')

In [325]:
# объединим датасеты
films = rating.merge(movies, on = ['movieId'], how = 'inner')

In [326]:
# выведем средний рейтинг по каждому фильму
pvt = films.pivot_table(index=['title'], values = 'rating', aggfunc='mean')
pvt.head()

                                           rating
title
"Great Performances" Cats (1998)         1.750000
$9.99 (2008)                             3.833333
'Hellboy': The Seeds of Creation (2004)  2.000000
'Neath the Arizona Skies (1934)          0.500000
'Round Midnight (1986)                   2.250000

In [327]:
# напишем функцию
def classification(i):
    if i  <= 2:
        return 'Низкий рейтинг'
    elif i  <= 4 and i >2:
        return 'Средний рейтинг'
    elif i  >4.5:
        return 'Высокий рейтинг'

In [328]:
# применим функцию и запишем результат в новый столбец
pvt['class'] = pvt['rating'].apply(classification)
pvt.head()

                                           rating            class
title
"Great Performances" Cats (1998)         1.750000   Низкий рейтинг
$9.99 (2008)                             3.833333  Средний рейтинг
'Hellboy': The Seeds of Creation (2004)  2.000000   Низкий рейтинг
'Neath the Arizona Skies (1934)          0.500000   Низкий рейтинг
'Round Midnight (1986)                   2.250000  Средний рейтинг

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [329]:
# загрузим датасет
keywords = pd.read_csv('keywords.csv')
keywords.head(5)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [330]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [331]:
# напишем функцию
def classif(row):
    line = set(row.lower().split())
    for region, city_list in geo_data.items():
        for el in line:
            if el in city_list:
                return region
    return 'undefined'

In [332]:
# применим функцию и запишем результат в отдельный столбец
keywords['regions'] = keywords['keyword'].apply(classif)

In [333]:
keywords.head(5)

         keyword     shows    regions
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [334]:
# проверим результат
keywords['regions'].value_counts()

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: regions, dtype: int64